<div class="comments">
    {{#each this}}
    <section class="comment">
        <div class="meta">
            {{user.username}} on {{format_date created_at}}
        </div>
        <div class="text">
            {{comment_text}}
            <div>
                {{vote_count}} {{format_plural "vote" vote_count}}
                |
                <span>
                    <button hidden type="button" class="upvote-btn">upvote</button>
                </span>
            </div>
        </div>
    </section>
    {{/each}}
</div>