<article class="post">
    
        <h2>{{title}}</h2>
        <div class="user-info">
            <img src="/images/user.png" alt="default anonymous user image">
            <p>{{user.username}} on {{format_date created_at}}</p>
        </div>
        {{#if loggedIn}}
        <a href="/post/{{id}}">Answer Question</a>
        {{else}}
        <a href="/post/{{id}}">View Responses</a>
        {{/if}}
    
</article>